.DS_Store
.idea/*
target/*
*.iml
**/*.rs.bk
Cargo.lock
.cargo/*
.m2/*
.vscode-server/*
.devcontainer/*
.vscode/*
*.log
*.out
old/*
tmp/*
.github
perf.data*
flamegraph.svg
**/node_modules/*
**/.next/*
.git/*